checkstyle.txt
races.in
check.sh
input*
ref*
cpplint.py
README
312CA_GramaNicolae_Tema1.zip
tema1
main.o include/Random.o include/Athlete.o include/homework.o
.vscode*
time.err*
races.out*
check.sh
tema1
cpplint.py
