# Copyright 2019 Grama Nicolae

CC = g++
CFLAGS = -Wall -Wextra -pedantic -O3
#FLAGS = -lm
EXE = snowfight
SRC = $(wildcard *.cpp)
OBJ = $(SRC:.c=.o)

# arhiva checker
CHECKER = https://ocw.cs.pub.ro/courses/_media/sd-ca/teme/checker_tema1_2019.zip
CARCHIVE = checker_tema1_2019.zip

# arhiva cu tema
ANAME = 312CA_GramaNicolae_Tema1.zip
ACONTENTS = README Makefile *.cpp *.h
AFLAGS = -FSr 

# compilarea programului
build: $(OBJ)
	$(CC) -o $(EXE) $^ $(LFLAGS) $(CFLAGS)
	rm -f *.o

.PHONY:build
# ruleaza programul
run: build
		./$(EXE)
.PHONY:run

#arhiveaza tema
pack: build prepare 
	zip $(AFLAGS) $(ANAME) $(ACONTENTS) 
	rm README
.PHONY:pack

# sterge executabilul
clean:
	rm -f $(EXE) $(OBJ)

.PHONY:clean

# face coding-style automat, la standardul google, cu o mica modificare
# (4 spatii in loc de 2 la alineate)
beauty: 
	clang-format -i -style=file *.cpp *.h

.PHONY:beauty

# descarca arhiva de teste si o pregateste
update:
	wget $(CHECKER)
	unzip -o $(CARCHIVE)
	rm -f $(CARCHIVE)*

.PHONY:update

# verifica memoria
MFLAGS = --leak-check=full --show-leak-kinds=all 
memory:build
	valgrind $(MFLAGS) ./$(EXE)
.PHONY:memory

prepare:
	cp Readme.md README
.PHONY:prepare

check:update build prepare
	./check.sh
.PHONT:check